## Optimize the Model

In [36]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
import pandas as pd
import tensorflow as tf


#  Import and read the charity_data.csv.
application_df = pd.read_csv("charity_data.csv")
application_df.head()

        EIN                                      NAME  ... ASK_AMT IS_SUCCESSFUL
0  10520599              BLUE KNIGHTS MOTORCYCLE CLUB  ...    5000             1
1  10531628    AMERICAN CHESAPEAKE CLUB CHARITABLE TR  ...  108590             1
2  10547893        ST CLOUD PROFESSIONAL FIREFIGHTERS  ...    5000             0
3  10553066            SOUTHSIDE ATHLETIC ASSOCIATION  ...    6692             1
4  10556103  GENETIC RESEARCH INSTITUTE OF THE DESERT  ...  142590             1

[5 rows x 12 columns]

In [3]:
# Drop the non-beneficial EIN column
app_df_clean = application_df.drop(columns=['EIN'])
app_df_clean.head(2)

                                     NAME  ... IS_SUCCESSFUL
0            BLUE KNIGHTS MOTORCYCLE CLUB  ...             1
1  AMERICAN CHESAPEAKE CLUB CHARITABLE TR  ...             1

[2 rows x 11 columns]

In [4]:
# display the number of unique values
app_df_clean.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [9]:
# Can we drop the STATUS column?
app_df_clean['STATUS'].value_counts()

1    34294
0        5
Name: STATUS, dtype: int64

In [10]:
# can we drop the SPECIAL_CONSIDERATIONS column?
app_df_clean['SPECIAL_CONSIDERATIONS'].value_counts()

N    34272
Y       27
Name: SPECIAL_CONSIDERATIONS, dtype: int64

In [11]:
# since there isn't much variation in the STATUS and SPECIAL_CONSIDERATIONS
# columns, they aren't important for our purposes
app_df_clean = app_df_clean.drop(columns=['STATUS', 'SPECIAL_CONSIDERATIONS'])
app_df_clean.head(2)

                                     NAME  ... IS_SUCCESSFUL
0            BLUE KNIGHTS MOTORCYCLE CLUB  ...             1
1  AMERICAN CHESAPEAKE CLUB CHARITABLE TR  ...             1

[2 rows x 9 columns]

In [12]:
# Look at NAME value counts for binning
name_counts = app_df_clean['NAME'].value_counts()
name_counts

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [13]:
name_counts[name_counts > 5]

PARENT BOOSTER USA INC                             1260
TOPS CLUB INC                                       765
UNITED STATES BOWLING CONGRESS INC                  700
WASHINGTON STATE UNIVERSITY                         492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC     408
                                                   ...
OLD OAK CLIFF CONSERVATION LEAGUE INC                 6
AMERICAN NEPHROLOGY NURSES ASSOCIATION                6
HUMBLE ISD EDUCATIONAL SUPPORT GROUPS INC             6
PROFESSIONAL LOADMASTER ASSOCIATION                   6
CBMC INC                                              6
Name: NAME, Length: 354, dtype: int64

In [14]:
# Determine which values to replace if counts are less than or equal to 5.
names_to_replace = list(name_counts[name_counts <= 5].index)

# Replace in dataframe
for name in names_to_replace:
  app_df_clean['NAME'] = app_df_clean['NAME'].replace(name, 'Other')
    
# Check to make sure binning was successful
app_df_clean['NAME'].value_counts()

Other                                           20043
PARENT BOOSTER USA INC                           1260
TOPS CLUB INC                                     765
UNITED STATES BOWLING CONGRESS INC                700
WASHINGTON STATE UNIVERSITY                       492
                                                ...
HABITAT FOR HUMANITY INTERNATIONAL                  6
DAMAGE PREVENTION COUNCIL OF TEXAS                  6
FLEET RESERVE ASSOCIATION                           6
HUGH OBRIAN YOUTH LEADERSHIP                        6
INTERNATIONAL CONGRESS OF CHURCHES MINISTERS        6
Name: NAME, Length: 355, dtype: int64

In [15]:
# Look at APPLICATION_TYPE value counts for binning
app_type_counts = app_df_clean['APPLICATION_TYPE'].value_counts()
app_type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [16]:
# Determine which values to replace if application counts are less than 500
app_types_to_replace = list(app_type_counts[app_type_counts < 500].index)

# Replace in dataframe
for app_type in app_types_to_replace:
  app_df_clean['APPLICATION_TYPE'] = app_df_clean['APPLICATION_TYPE'].replace(
      app_type, 'Other'
  )

# Check to make sure binning was successful
app_df_clean['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [17]:
# Look at CLASSIFICATION value counts for binning
# Look at CLASSIFICATION value counts for binning
class_counts = app_df_clean['CLASSIFICATION'].value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [20]:
# Determine which values to replace if counts are less than 1000
classifications_to_replace = list(class_counts[class_counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    app_df_clean['CLASSIFICATION'] = app_df_clean['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
app_df_clean['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [22]:
# Generate our categorical variable lists
cat_vars = list(app_df_clean.dtypes[app_df_clean.dtypes == 'object'].index)
cat_vars

['NAME',
 'APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT']

In [25]:
# perform one-hot encoding on the data
app_df_clean = pd.get_dummies(app_df_clean)
app_df_clean.head()

   ASK_AMT  IS_SUCCESSFUL  ...  INCOME_AMT_50M+  INCOME_AMT_5M-10M
0     5000              1  ...                0                  0
1   108590              1  ...                0                  0
2     5000              0  ...                0                  0
3     6692              1  ...                0                  0
4   142590              1  ...                0                  0

[5 rows x 396 columns]

In [28]:
# Split our preprocessed data into our features and target arrays
x = app_df_clean.drop(columns=['IS_SUCCESSFUL']).values
y = app_df_clean['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
x_train, x_test, y_train, y_test = train_test_split(x, y)

In [29]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
x_scaler = scaler.fit(x_train)

# Scale the data
x_train_scaled = x_scaler.transform(x_train)
x_test_scaled = x_scaler.transform(x_test)

In [30]:
# Define the model - deep neural net
number_input_features = len(x_train[0])
hidden_nodes_layer1 =  100
hidden_nodes_layer2 = 30
hidden_nodes_layer3 = 10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="sigmoid"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               39600

 dense_1 (Dense)             (None, 30)                3030

 dense_2 (Dense)             (None, 10)                310

 dense_3 (Dense)             (None, 1)                 11

=================================================================
Total params: 42,951
Trainable params: 42,951
Non-trainable params: 0
_________________________________________________________________

In [31]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [33]:
# Train the model
fit_model = nn.fit(x_train_scaled, y_train, epochs=200)

Epoch 1/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4073 - accuracy: 0.8052
Epoch 2/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4070 - accuracy: 0.8045
Epoch 3/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4066 - accuracy: 0.8049
Epoch 4/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4062 - accuracy: 0.8052
Epoch 5/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4062 - accuracy: 0.8050
Epoch 6/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4066 - accuracy: 0.8052
Epoch 7/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4066 - accuracy: 0.8053
Epoch 8/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4061 - accuracy: 0.8050
Epoch 9/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4059 - accuracy: 0.8056
Epoch 10/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4057 - accuracy: 0.8062
Epoch 11/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4055 - accuracy: 0.8059
Epoch 12/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4056 - accuracy: 0.8063
Epoch 13/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4053 - accuracy: 0.8064
Epoch 14/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4051 - accuracy: 0.8060
Epoch 15/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4051 - accuracy: 0.8068
Epoch 16/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4050 - accuracy: 0.8059
Epoch 17/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4055 - accuracy: 0.8061
Epoch 18/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4045 - accuracy: 0.8068
Epoch 19/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4044 - accuracy: 0.8061
Epoch 20/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4042 - accuracy: 0.8070
Epoch 21/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4040 - accuracy: 0.8069
Epoch 22/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4049 - accuracy: 0.8065
Epoch 23/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4041 - accuracy: 0.8073
Epoch 24/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4036 - accuracy: 0.8063
Epoch 25/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4038 - accuracy: 0.8066
Epoch 26/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4040 - accuracy: 0.8063
Epoch 27/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4033 - accuracy: 0.8071
Epoch 28/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4034 - accuracy: 0.8078
Epoch 29/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4033 - accuracy: 0.8082
Epoch 30/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4037 - accuracy: 0.8071
Epoch 31/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4033 - accuracy: 0.8070
Epoch 32/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4034 - accuracy: 0.8071
Epoch 33/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4032 - accuracy: 0.8077
Epoch 34/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4031 - accuracy: 0.8075
Epoch 35/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4028 - accuracy: 0.8079
Epoch 36/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4029 - accuracy: 0.8073
Epoch 37/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4027 - accuracy: 0.8078
Epoch 38/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4027 - accuracy: 0.8069
Epoch 39/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4026 - accuracy: 0.8078
Epoch 40/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4029 - accuracy: 0.8067
Epoch 41/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4029 - accuracy: 0.8076
Epoch 42/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4025 - accuracy: 0.8078
Epoch 43/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4036 - accuracy: 0.8077
Epoch 44/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4024 - accuracy: 0.8081
Epoch 45/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4027 - accuracy: 0.8082
Epoch 46/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4024 - accuracy: 0.8081
Epoch 47/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4026 - accuracy: 0.8080
Epoch 48/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4021 - accuracy: 0.8074
Epoch 49/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4022 - accuracy: 0.8080
Epoch 50/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4028 - accuracy: 0.8079
Epoch 51/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4025 - accuracy: 0.8082
Epoch 52/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4030 - accuracy: 0.8082
Epoch 53/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4026 - accuracy: 0.8084
Epoch 54/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4021 - accuracy: 0.8079
Epoch 55/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4028 - accuracy: 0.8071
Epoch 56/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4022 - accuracy: 0.8070
Epoch 57/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4022 - accuracy: 0.8085
Epoch 58/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4021 - accuracy: 0.8082
Epoch 59/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4023 - accuracy: 0.8076
Epoch 60/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4022 - accuracy: 0.8078
Epoch 61/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4018 - accuracy: 0.8085
Epoch 62/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4019 - accuracy: 0.8082
Epoch 63/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4023 - accuracy: 0.8087
Epoch 64/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4024 - accuracy: 0.8077
Epoch 65/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4031 - accuracy: 0.8079
Epoch 66/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4026 - accuracy: 0.8083
Epoch 67/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4026 - accuracy: 0.8082
Epoch 68/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4021 - accuracy: 0.8082
Epoch 69/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4019 - accuracy: 0.8084
Epoch 70/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4023 - accuracy: 0.8078
Epoch 71/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4019 - accuracy: 0.8080
Epoch 72/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4020 - accuracy: 0.8091
Epoch 73/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4015 - accuracy: 0.8087
Epoch 74/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4015 - accuracy: 0.8082
Epoch 75/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4014 - accuracy: 0.8091
Epoch 76/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4014 - accuracy: 0.8091
Epoch 77/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4010 - accuracy: 0.8080
Epoch 78/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4010 - accuracy: 0.8087
Epoch 79/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4011 - accuracy: 0.8087
Epoch 80/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4013 - accuracy: 0.8090
Epoch 81/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4010 - accuracy: 0.8089
Epoch 82/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4019 - accuracy: 0.8088
Epoch 83/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4016 - accuracy: 0.8084
Epoch 84/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4016 - accuracy: 0.8087
Epoch 85/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4018 - accuracy: 0.8083
Epoch 86/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4025 - accuracy: 0.8085
Epoch 87/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4015 - accuracy: 0.8083
Epoch 88/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4012 - accuracy: 0.8079
Epoch 89/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4013 - accuracy: 0.8089
Epoch 90/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4013 - accuracy: 0.8085
Epoch 91/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4013 - accuracy: 0.8089
Epoch 92/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4013 - accuracy: 0.8082
Epoch 93/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4018 - accuracy: 0.8081
Epoch 94/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4014 - accuracy: 0.8086
Epoch 95/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4013 - accuracy: 0.8089
Epoch 96/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4018 - accuracy: 0.8087
Epoch 97/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4013 - accuracy: 0.8091
Epoch 98/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4014 - accuracy: 0.8087
Epoch 99/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4008 - accuracy: 0.8090
Epoch 100/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4013 - accuracy: 0.8091
Epoch 101/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4012 - accuracy: 0.8091
Epoch 102/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4011 - accuracy: 0.8093
Epoch 103/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4011 - accuracy: 0.8089
Epoch 104/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4013 - accuracy: 0.8088
Epoch 105/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4012 - accuracy: 0.8091
Epoch 106/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4013 - accuracy: 0.8094
Epoch 107/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4015 - accuracy: 0.8085
Epoch 108/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4010 - accuracy: 0.8089
Epoch 109/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4013 - accuracy: 0.8090
Epoch 110/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4010 - accuracy: 0.8089
Epoch 111/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4010 - accuracy: 0.8087
Epoch 112/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4009 - accuracy: 0.8084
Epoch 113/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4012 - accuracy: 0.8094
Epoch 114/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4011 - accuracy: 0.8091
Epoch 115/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4017 - accuracy: 0.8084
Epoch 116/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4012 - accuracy: 0.8097
Epoch 117/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4017 - accuracy: 0.8089
Epoch 118/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4022 - accuracy: 0.8082
Epoch 119/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4019 - accuracy: 0.8086
Epoch 120/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4019 - accuracy: 0.8087
Epoch 121/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4019 - accuracy: 0.8085
Epoch 122/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4017 - accuracy: 0.8082
Epoch 123/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4017 - accuracy: 0.8089
Epoch 124/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4017 - accuracy: 0.8089
Epoch 125/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4019 - accuracy: 0.8092
Epoch 126/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4016 - accuracy: 0.8090
Epoch 127/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4018 - accuracy: 0.8090
Epoch 128/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4019 - accuracy: 0.8089
Epoch 129/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4015 - accuracy: 0.8087
Epoch 130/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4020 - accuracy: 0.8090
Epoch 131/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4024 - accuracy: 0.8088
Epoch 132/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4022 - accuracy: 0.8088
Epoch 133/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4019 - accuracy: 0.8087
Epoch 134/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4020 - accuracy: 0.8087
Epoch 135/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4017 - accuracy: 0.8092
Epoch 136/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4023 - accuracy: 0.8089
Epoch 137/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4020 - accuracy: 0.8093
Epoch 138/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4024 - accuracy: 0.8091
Epoch 139/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4023 - accuracy: 0.8096
Epoch 140/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4026 - accuracy: 0.8093
Epoch 141/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4023 - accuracy: 0.8089
Epoch 142/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4023 - accuracy: 0.8092
Epoch 143/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4017 - accuracy: 0.8087
Epoch 144/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4021 - accuracy: 0.8092
Epoch 145/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4017 - accuracy: 0.8093
Epoch 146/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4021 - accuracy: 0.8084
Epoch 147/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4024 - accuracy: 0.8085
Epoch 148/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4025 - accuracy: 0.8084
Epoch 149/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4025 - accuracy: 0.8094
Epoch 150/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4022 - accuracy: 0.8093
Epoch 151/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4024 - accuracy: 0.8090
Epoch 152/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4021 - accuracy: 0.8094
Epoch 153/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4022 - accuracy: 0.8094
Epoch 154/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4025 - accuracy: 0.8096
Epoch 155/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4026 - accuracy: 0.8089
Epoch 156/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4027 - accuracy: 0.8090
Epoch 157/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4030 - accuracy: 0.8099
Epoch 158/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4033 - accuracy: 0.8092
Epoch 159/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4031 - accuracy: 0.8094
Epoch 160/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4024 - accuracy: 0.8093
Epoch 161/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4030 - accuracy: 0.8089
Epoch 162/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4028 - accuracy: 0.8089
Epoch 163/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4027 - accuracy: 0.8092
Epoch 164/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4026 - accuracy: 0.8089
Epoch 165/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4024 - accuracy: 0.8094
Epoch 166/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4028 - accuracy: 0.8090
Epoch 167/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4025 - accuracy: 0.8096
Epoch 168/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4027 - accuracy: 0.8090
Epoch 169/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4031 - accuracy: 0.8082
Epoch 170/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4029 - accuracy: 0.8081
Epoch 171/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4028 - accuracy: 0.8088
Epoch 172/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4027 - accuracy: 0.8094
Epoch 173/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4025 - accuracy: 0.8087
Epoch 174/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4030 - accuracy: 0.8087
Epoch 175/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4030 - accuracy: 0.8093
Epoch 176/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4034 - accuracy: 0.8091
Epoch 177/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4034 - accuracy: 0.8092
Epoch 178/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4034 - accuracy: 0.8086
Epoch 179/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4030 - accuracy: 0.8090
Epoch 180/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4029 - accuracy: 0.8086
Epoch 181/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4030 - accuracy: 0.8098
Epoch 182/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4036 - accuracy: 0.8090
Epoch 183/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4041 - accuracy: 0.8089
Epoch 184/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4040 - accuracy: 0.8094
Epoch 185/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4040 - accuracy: 0.8094
Epoch 186/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4038 - accuracy: 0.8084
Epoch 187/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4036 - accuracy: 0.8087
Epoch 188/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4031 - accuracy: 0.8096
Epoch 189/200
804/804 [==============================] - 3s 3ms/step - loss: 0.4032 - accuracy: 0.8084
Epoch 190/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4038 - accuracy: 0.8096
Epoch 191/200
804/804 [==============================] - 3s 3ms/step - loss: 0.4038 - accuracy: 0.8089
Epoch 192/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4035 - accuracy: 0.8089
Epoch 193/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4032 - accuracy: 0.8088
Epoch 194/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4033 - accuracy: 0.8089
Epoch 195/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4040 - accuracy: 0.8089
Epoch 196/200

In [34]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(x_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.4486 - accuracy: 0.7915 - 534ms/epoch - 2ms/step
Loss: 0.44860756397247314, Accuracy: 0.7914868593215942

In [35]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")

USE A RANDOM FOREST CLASSIFIER ON THE DATASET

In [39]:
# Create a random forest classifier.
rfc = RandomForestClassifier(n_estimators=128, random_state=78)

# Fitting the model
rfc = rfc.fit(x_train_scaled, y_train)

# Evaluate the model
y_predicted = rfc.predict(x_test_scaled)
print(f'Random Forest accuracy: {accuracy_score(y_test, y_predicted)*100:.2f}')

Random Forest accuracy: 77.68